.equipoSeccion {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .equipoTarjeta {
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
  }
  
  .equipoImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 6px;
  }
  